$male-color: #6060ce
$female-color: #e296e2

.btn
  width: 300px
  height: 50px
  border: 1px solid #000
  border-radius: 8px
  margin: 8px
  color: #fff
  font-size: 20px
  font: bold

  &.btn-male
    background: $male-color

  &.btn-female
    background: $female-color