$male-color: #6060ce
$female-color: #e296e2

.container
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: center

  .box
    height: 400px
    width: 400px
    padding: 8px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    border: 1px solid #555
    border-radius: 25px

    img
      height: 200px
      width: 200px
      border-radius: 100px
      border: none

    & .male
      border: 2px solid $male-color

    & .female
      border: 2px solid $female-color

    h1, h2
      text-align: center
